/*------------------------------------------------------- CONTENEDOR ------*/
.container {
    width: 700px;
    margin: 0 auto;
}
.img-responsive {
    width: 100%;
}
/*------------------------------------------------------------- MENU ------*/
.main-nav {
    list-style: none;
    margin: 20px 0;
    padding: 0;
    border: 1px solid #000;
    border-width: 1px 0 1px 0;
    text-align: center;
}
.main-nav li {
    display: inline-block;
}
.main-nav li:after {
    content: "|";
}
.main-nav li:last-child:after {
    content: "";
}
.main-nav li a {
    text-decoration: none;
    color: #000;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
}
/*----------------------------------------------------------- HERO ------*/
.hero hr {
    width: 40px;
    margin: 10px auto;
    border-color: grey;
}
.hero p {
    text-align: center;
    font-size: 23px;
    margin: 0 80px;
}


/*------------------------------------------- LISTA NUESTRAS CODERS ------*/

.box{
    display: inline-block;
    position: relative;
    width: 211px;
    height: 211px;
    margin: 5px;
    background: rgb(0, 0, 0);
}
 
.box:after{
    content: "Nombre y Apellido";
    position: absolute;
    bottom: 0px;
    right: 0px;
    color: white;
}

hr{
    border: solid 2px black;
    width:80px;
    margin-left: 0px;
    margin-bottom: 25px;
}

img .lista {
    opacity: 0.5;
}

.lista-coders {
    margin: 0 auto;
}
.padre {
    display: block; 
    margin:10px;
}